<p>Search Results</p>

<div class="ui raised teal segment" id="groupInfo">

  <% @all_users.each do |user| %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.email %>
    <%= user.personal_bio %><br>  
  <% end %><br>

</div>
