// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//======= ======= GroupShow Page ======= =======

#groupInfo {
  width: 30%;
  margin-left: 1%;
  height: 99%;
  position: fixed;
}

#groupInfo > p {
  font-size: 30px;
  margin: 1.5% 0 2% 1.5% ;
  font-weight: bold;
}

#calContainer {
  width: 68%;
  float: right;
  padding: 2%;
}

#messageForm {
  width: 80%;
  margin-left: 10%;
}

#post {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
}

#messageHead{
  display: block;
  width: 100%;
  // border: 2px solid red;
  margin-left: 18%;
  font-weight: bold;
}
#messBoard {
  width: 68%;
  float: right;
}

#postButton {
  margin-top: 25%;
}

#creategroupForm {
  width: 70%;
  margin: 5% 0 0 15%;
}

#workoutContent{
  height: auto;
}
#newgroupButton{
  width: 60%;
  margin: 1% 0 3% 20%
}

#createeventForm {
  width: 70%;
  margin: 6% 0 0 15%;
}

#newsessionpageLink{
  float: right;
  margin: 1% 3% 0 0;
}

#backButton {
  float: right;
  margin: 1% 8% 0 0;
  width: 10%;
}

#backLink {
  float: right;
  margin: 1% 15% 0 0;
  width: 10%;
}

#homeLink {
  float: right;
  margin: 1% 3% 0 0;
  width: 10%;
}
